/* BASICS */
html{
  overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
  background-color: #f5f1e1;
  margin: auto;
  color:#157457;
  cursor: url(/assets/icons/kirbs.svg), auto;
}

body, html{
  width: 100%;
  height: 100%;
}

/* NOISE */
.noise {
  height: 100vh;

}

.noise:after {
  animation: grain 8s steps(10) infinite;
  background-image: url(https://64.media.tumblr.com/c57c41aa8eed9f9b43ae7975f0aa7420/fc6cda48d2e4c00e-66/s400x600/4810412ee0b4430db67428d2f5a915f34c10f1c8.jpg);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.05;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: -1;
  pointer-events: none;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

/* -----------NAV BAR STUFF---------- */

.navbar ul {
 /*  background: #779282; */
  padding-bottom: 50px;
  padding-top: 8px;
  
}

.navbar .homebutton {
  left: 0;
  float: left;
  word-wrap: break-word;
}

.navbar .homebutton a{
  text-align: left;
}


.navbar .homebutton:hover {
  color: #EE79AD;
  content: "← /HOME";
}
.navbar .homebutton:hover {
  
}
/* .navbar .homebutton:hover:before {
  content: "←";
} */


nav ul {
    font-family: 'Arial';
    list-style: none;
    letter-spacing: 1.25px;
    padding-inline-start: 14px;
    line-height: 1.6;
    font-size: 13px;
    
}


li a{
  float: right;
  display: inline;
  padding: 16px;
  text-decoration: none;
  color:#157457;
}

li a:hover {
  /* font-size: 18px; */
  font-style: italic;
/*   font-family: "Baskerville";
  font-size: 14px; */
  cursor: url(/assets/icons/kirbsclick.svg), auto;
}

/* .restofbar li a:hover:before {
  content:"(";
}


.restofbar li a:hover:after {
  content:")";
} */






/* -----------PROJECT PAGE---------- */
 /* titles */
 #titleproj {
  font-family: 'Baskerville';
  z-index: 10;
  margin-left: 8%;
  margin-right: 25px;
  color: #157457;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 75px;
  

}

#titleproj h1 {
  
  
}

#title1 sub{
  font-size: 10px;
}

#title2{
  font-family: 'Baskerville';
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 1px;
  z-index: 10;
  text-align: right;
  margin-right: 9%;
  margin-left: 25px;
  color: #157457;

}
#title2 h1 {
  margin-right: 200px;
}

#title2 sub{
  font-size: 10px;
  margin-right: 30px;
}

#title3{
  margin-top: 100px;
  letter-spacing: 1px;
  z-index: 10;
  text-align: left;
  margin-right: 25px;
  margin-left: 25px;
  color: #157457;

}

#title4{
  letter-spacing: 1px;
  z-index: 10;
  text-align: center;
  color: #ece8da;
  font-size: 10px;

}

/* FOLDER CONTAINER + INDIVIDUAL FOLDERS */
.projectfolderwrapper {
  margin-left: 80px;

}

.folder {
    vertical-align: top;
    display: inline-block;
    text-align: justify;
    width: 180px;
    padding: 10px;
    position: relative;

}
.folder img {
    width: 130px;
    height: 130px;
    cursor: url(/assets/icons/kirbs.svg), auto;
}

.ftitle {
    display: block;
    max-width: 130px;
    word-wrap: break-word;
    text-align: center;
}

.atitle {
  display: block;
  max-width: 130px;
  word-wrap: break-word;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}


.desc {
  font-family: 'Arial';
  position: absolute;
  max-width: 100px;
  word-wrap: break-word;
  bottom: 95px;
  left: 25px;
  font-size: 10px;
  color: #FFFFFF;
}

.desc p {
  font-size: 10px;
  color: #FFFFFF;
}

.lang {
  font-family: 'Arial';
  position: absolute;
  max-width: 80px;
  word-wrap: break-word;
  bottom: 70px;
  left: 25px;
  font-size: 10px;
  color: #FFFFFF;
  font-style: italic;
}

.lang p {
  font-size: 10px;
  color: #FFFFFF;
}


/* -----------PROJECT GEN PAGE---------- */

.subheader{
  text-align: left;
  margin: 10px;
  font-family: 'Helvetica', 'Arial';
  font-size: 12px;
  
}
.subheader a {
  text-align: left;
  margin: 15px;
  padding: .3px;
  text-decoration: none;
  color: #157457; 
  font-weight: lighter;
}

.subheader a:hover {
  color: #e99ce1;
  cursor: url(/assets/icons/kirbsclick.svg), auto;
}

/*blog*/

.video {
  display:block;
  margin: auto;
  
}

.blogpage {
  font-family: 'Open Sans', 'Helvetica Neue';
  background-color: #2A2A2A;
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  text-align: left;
  padding: 16px;
  word-wrap: break-word;
  color: #FFFFFF;
}

#blogdate{
  left:0;
  top:0;
  color:#b09a6b;
  font-size: 14px;
}

.blogpage h3 {
  font-size: 1.0rem;
  font-weight: 400;
  letter-spacing: .05em;
  color: white;
}

.blogpage h2{
  
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: .05em;
  color: white;
  
}

.blogpage p{
  display:block;
  font-size: 16px;
  font-weight: 400;
  color: white;
  
}
.blogpage small{
  color: white;
  padding: 0px;
}

.blogpage img{
  width: 35vw;
  height: auto;
  
}

.bloghighlight{
  background: #b09a6b;
}

.blogpage li {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

pre {
    white-space: pre-wrap; 
}
pre code {
  display: block;
  background-color: #d6d3d3;
  border: 1px solid #999;
  padding: 15px;
  border-radius: 5px;
}

code {
  color: black;
}






/* -----------ART PAGE---------- */
#title1 {
  font-family: "Baskerville";
  font-size: 75px;
  font-weight: normal;
  text-align: left;
  z-index: 10;
  margin-left: 25px;
  margin-right: 25px;
  color: #157457;
  letter-spacing: 1px;

}

#worksdesc {
  font-family: Arial;
  color: #157457;
  /* margin-top: 10px; */
  margin-left: 50px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 15px;
}

/* img grid */
.wrapper {
  margin: 12px;
  z-index: -2;
/*   background: #157457; */
  padding-top: 20px;
  padding-bottom: 20px;

}

.sqphotogrid, .sqphotogrid li {
  text-align: center;
	list-style: none;
	padding: 0;

}

.sqphotogrid li {
	display: inline-block;
	width: 23%;

}

.sqphotogrid li img {
	width: 100%;

}
 .indimg img{
   filter: grayscale(0%);
  transition: .3s ease;
 }

.indimg:hover img{
  /*opacity: 0.5;*/
  /*filter: grayscale(0%);*/
  transform: scale(.85);
  cursor: url(/assets/icons/kirbsclick.svg), auto;
}

/*page for art gen output pages*/
.artpage{
  text-align: center;
  word-wrap: break-word;
}

.artpage h3{
  font-size: 30px;
  font-weight: lighter;
  font-style: oblique;
}

.artpage h2{
  font-size: 17px;
  font-weight: lighter; 
  margin: -20px;
  margin-bottom: 20px;
}

.artpage p{
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
}

.artpage img{
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;

}

.genpagephoto{
  margin-left:25px;
  margin-right:25px;
  display: flex;
  flex-direction: column;
}

.genpagephoto img{
  max-width: 65%;
  height: auto;
}


.photographcollage {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;	
}


.photographcollage img{
  max-width: 100%;
  height: auto !important;
}



/* -----------ABOUT PAGE---------- */


.typewriterText {
  display: flex;
  font-size: 34px;
  font-weight: normal;
  justify-content: center;
  text-align: center;
  color:#157457;

}
#typerwriter {
  margin: auto;
  width: 50%;
}

.profile {
  text-align: center;
  padding-top: 30px;
}

.profile h2 {
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  color:#157457;
}

.profile h3 {
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  color:#157457;
}

.profile small {
  font-size: 10px;
}

.profilepic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 340px;
  height: auto;
  /* height: 30vw; */

}

.bio {
  margin: 0 auto;
  max-width: 400px;
  word-wrap: break-word;
  text-align: left;
  padding-bottom: 30px;
  color:#157457;
}



/* -----------HOME/MAIN PAGE---------- */
.andreaclass {
  color: #157457;
  /* text-decoration: none; */
}
.andreaclass:hover {
  text-decoration: none;
  color: #EE79AD;
}
.andreaclass:hover:after {
  content: ", who's that?";
}
.welcome {
  margin: 10px;
}
.logo img {
  display: block; 
  margin-top: 31px;
  height: 35vw; 
  /* max-width: 500px;
  height: auto; */
  float:left;
  margin-right: 20px;
  
 } 
 
 .welcome h1 {
  font-weight: lighter;
  font-size: 24px;
 }

.txt {
  font-family:"Baskerville";
  font-weight: lighter;
  font-size: 60px;
  margin-top: 90px;
}
.txt h1 {
  font-weight: normal;
  font-size: 60px;
  color: #157457;
  padding-left: 20px;

}
.txt h1 span{
  font-weight: normal;
  font-family: "Arial";
  font-size: 10px;
  padding-bottom: 10px;
  float:left;
  padding-right: 40px;
}

.txt a {
  color: #157457;
  text-decoration: none;
  
}
.txt a:hover {
  font-style: italic; 
  color: #EE79AD;
  -webkit-transform: scale(1.4); 
  cursor: url(/assets/icons/kirbsclick.svg), auto;
}


.welcome #buttonArt {
  text-align: right;
  margin-top: 10px;
  margin-left: 400px;
  margin-right: 40%;

}

#buttonArt a {
  display: block;
  text-decoration: none;
  color: #157457;
  
}
#buttonArt a:hover {
  font-style: italic; 
  color: #EE79AD;
  -webkit-transform: scale(1.4); 
  cursor: url(/assets/icons/kirbsclick.svg), auto;
}

#buttonProject {
  position: relative;
  margin-left: 60px;
  margin-right: 40%;
}

#buttonProject a {
  font-family: "Baskerville";
  text-decoration: none;
  color: #157457;
}

#buttonProject a:hover {
  color: #EE79AD;
  font-family: 'Courier';
  cursor: url(/assets/icons/kirbsclick.svg), auto;
}

/* code below from https://code-boxx.com/html-css-news-ticker-horizontal-vertical/ */

.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
}
 
.hmove { display: flex; }

.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
 

@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-400%, 0, 0); }
}
.hmove { animation: tickerh linear 50s infinite; }
.hmove:hover { animation-play-state: paused; }