/* BASICS */
html{
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
  background-color: #CFCFCF;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  color:black;
  cursor: url(/assets/icons/kirbs.svg), auto;
}

.topBar {
  display: flex;
  flex-direction: column;
  color: black;
}

.nameBar {
  display: flex;
  width: 100%; 
  height: 35px; 
  align-items: center;
  background: linear-gradient(180deg, #D4DBEE 0%, #A6B1DD 100%);
}

.navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #cfcfcf68;
}

.navbarTopRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.navbarButtons {
  flex: 1;
  border: 1px #A7A7A7 solid;
  background-color: transparent;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  color: black;
}

.navbarTopRow .navbarButtons:hover{
  background-color: #7070704d;
}

.navbarBottomRow {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbarBottomRow .navbarButtons {
  border-bottom-width: 2px;
}

.welcomeCont {
  font-family: 'DotGothic16';
}

.myname {
  font-size: 50px;
  

  width: 100%; 
  margin-left: 20px; 
  color:#606EEF; 
  letter-spacing:.1cm;
  text-decoration: wavy;
}

.myname a {
  
}

.myname:hover {
  
}

.welcomeGrid {
  margin: 10px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.welcomeGridElem {
  width: 100%;
}

.welcomeGridElem img {
  width: 100%;
}
/* NOISE */
.noise {
  height: 100vh;

}

.noise:after {
  animation: grain 8s steps(10) infinite;
  background-image: url(https://64.media.tumblr.com/c57c41aa8eed9f9b43ae7975f0aa7420/fc6cda48d2e4c00e-66/s400x600/4810412ee0b4430db67428d2f5a915f34c10f1c8.jpg);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.08;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: -1;
  pointer-events: none;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}


.divider {
  border-bottom: 2px solid #A8A8A8;
  margin-left: 30px;
  margin-right: 30px;
}

#category-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

#category-buttons button.active {
  position: relative;
  background-color: #acabab;
  text-align: left;
}

#category-buttons button.active::after {
  content: "x";
  position: absolute;
  right: 0;
  padding: 0.1px 6px;
}

.buttonTab {
  display: inline-block;
  background-color: #CFCFCF;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* @media screen and (max-width: 768px) {
  .buttonTab {
    width: 100%; 
  }
} */
 


.buttonTab:hover {
  background-color: #C6C6C6;
}

.blog-post {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}


/* -----------NAV BAR STUFF---------- */

/* .navbar ul {
  padding-bottom: 50px;
  padding-top: 8px;
  
}

.navbar .homebutton {
  left: 0;
  float: left;
  word-wrap: break-word;
}

.navbar .homebutton a{
  text-align: left;
}


.navbar .homebutton:hover {
  color: #EE79AD;
  content: "← /HOME";
}
.navbar .homebutton:hover {
  
} */
/* .navbar .homebutton:hover:before {
  content: "←";
} */


nav ul {
    font-family: 'Arial';
    list-style: none;
    letter-spacing: 1.25px;
    padding-inline-start: 14px;
    line-height: 1.6;
    font-size: 13px;
    
}


li a{
  float: right;
  display: inline;
  padding: 16px;
  text-decoration: none;
  color:#157457;
}

li a:hover {
  /* font-size: 18px; */
  font-style: italic;
/*   font-family: "Baskerville";
  font-size: 14px; */
  cursor: url(/assets/icons/kirbsclick.svg), auto;
}

/* .restofbar li a:hover:before {
  content:"(";
}


.restofbar li a:hover:after {
  content:")";
} */






/* -----------PROJECT PAGE---------- */
 /* titles */
 #titleproj {
  font-family: 'Baskerville';
  z-index: 10;
  margin-left: 8%;
  margin-right: 25px;
  color: #157457;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 75px;
  

}

#titleproj h1 {
  
  
}

#title1 sub{
  font-size: 10px;
}

#title2{
  font-family: 'Baskerville';
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 1px;
  z-index: 10;
  text-align: right;
  margin-right: 9%;
  margin-left: 25px;
  color: #157457;

}
#title2 h1 {
  margin-right: 200px;
}

#title2 sub{
  font-size: 10px;
  margin-right: 30px;
}

#title3{
  margin-top: 100px;
  letter-spacing: 1px;
  z-index: 10;
  text-align: left;
  margin-right: 25px;
  margin-left: 25px;
  color: #157457;

}

#title4{
  letter-spacing: 1px;
  z-index: 10;
  text-align: center;
  color: #ece8da;
  font-size: 10px;

}

/* FOLDER CONTAINER + INDIVIDUAL FOLDERS */
.projectfolderwrapper {
  margin-left: 80px;
}

.folder {
    vertical-align: top;
    display: inline-block;
    text-align: justify;
    justify-content: center;
    width: 180px;
    padding: 10px;
    position: relative;

}
.folder img {
    width: 130px;
    height: 130px;
    cursor: url(/assets/icons/kirbs.svg), auto;
}

.ftitle {
    display: block;
    max-width: 130px;
    word-wrap: break-word;
    text-align: center;
}

.atitle {
  display: block;
  max-width: 130px;
  word-wrap: break-word;
  font-size: 20px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}

.desc {
  font-family: 'Arial';
  position: absolute;
  max-width: 100px;
  word-wrap: break-word;
  bottom: 95px;
  left: 25px;
  font-size: 10px;
  color: #FFFFFF;
}

.desc p {
  font-size: 10px;
  color: #FFFFFF;
}

.lang {
  font-family: 'Arial';
  position: absolute;
  max-width: 80px;
  word-wrap: break-word;
  bottom: 70px;
  left: 25px;
  font-size: 10px;
  color: #FFFFFF;
  font-style: italic;
}

.lang p {
  font-size: 10px;
  color: #FFFFFF;
}


/* -----------PROJECT GEN PAGE---------- */

.subheader{
  text-align: left;
  margin: 10px;
  font-family: 'Helvetica', 'Arial';
  font-size: 12px;
  
}
.subheader a {
  text-align: left;
  margin: 15px;
  padding: .3px;
  text-decoration: none;
  color: #157457; 
  font-weight: lighter;
}

.subheader a:hover {
  color: #e99ce1;
  cursor: url(/assets/icons/kirbsclick.svg), auto;
}

/*blog*/

.video {
  display:block;
  margin: auto;
  
}

.blogpage_header {
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogpage_header h2 {
  font-size: 30px;
}

.blogpage_subheader {
  color: #2A69C8;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}


.blogpage {
  font-family: 'Open Sans', 'Helvetica Neue';
  background-color: #EBEBEB;
  border-radius: 20px;
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  text-align: left;
  padding: 16px;
  word-wrap: break-word;
  color: black;
}


#blogdate{
  left:0;
  top:0;
  color:#b09a6b;
  font-size: 14px;
}

.blogpage h3 {
  font-size: 1.0rem;
  font-weight: 400;
  letter-spacing: .05em;
  color: black;
}

.blogpage h2{
  
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: .05em;
  color: black;
  
}

.blogpage p{
  display:block;
  font-size: 16px;
  font-weight: 400;
  color: black;
  
}
.blogpage small{
  color: black;
  padding: 0px;
}

.blogpage img{
  width: 35vw;
  height: auto;
}

.bloghighlight{
  background: #b09a6b;
}

.blogpage li {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

pre {
    white-space: pre-wrap; 
}
pre code {
  display: block;
  background-color: #d6d3d3;
  border: 1px solid #999;
  padding: 15px;
  border-radius: 5px;
}

code {
  color: black;
}






/* -----------ART PAGE---------- */
#title1 {
  font-family: "Baskerville";
  font-size: 75px;
  font-weight: normal;
  text-align: left;
  z-index: 10;
  margin-left: 25px;
  margin-right: 25px;
  color: #157457;
  letter-spacing: 1px;

}

#worksdesc {
  font-family: Arial;
  color: #157457;
  /* margin-top: 10px; */
  margin-left: 50px;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 15px;
}

/* img grid */
.wrapper {
  margin: 12px;
  z-index: -2;
/*   background: #157457; */
  padding-top: 20px;
  padding-bottom: 20px;

}

.sqphotogrid, .sqphotogrid li {
  text-align: center;
	list-style: none;
	padding: 0;

}

.sqphotogrid li {
	display: inline-block;
	width: 23%;

}

.sqphotogrid li img {
	width: 100%;

}
 .indimg img{
   filter: grayscale(0%);
  transition: .3s ease;
 }

.indimg:hover img{
  /*opacity: 0.5;*/
  /*filter: grayscale(0%);*/
  transform: scale(.85);
  cursor: url(/assets/icons/kirbsclick.svg), auto;
}

/*page for art gen output pages*/
.artpage{
  text-align: center;
  word-wrap: break-word;
}

.artpage h3{
  font-size: 30px;
  font-weight: lighter;
  font-style: oblique;
}

.artpage h2{
  font-size: 17px;
  font-weight: lighter; 
  margin: -20px;
  margin-bottom: 20px;
}

.artpage p{
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
}

.artpage img{
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;

}

.genpagephoto{
  margin-left:25px;
  margin-right:25px;
  display: flex;
  flex-direction: column;
}

.genpagephoto img{
  max-width: 65%;
  height: auto;
}


.photographcollage {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;	
}


.photographcollage img{
  max-width: 100%;
  height: auto !important;
}



/* -----------ABOUT PAGE---------- */
.typewriter_wrapper {
  display: flex;
  justify-content: center;

}

.typewriterText {
  font-size: 34px;
  font-weight: normal;
  justify-content: center;
  text-align: center;
  color:#7D7D7D;

}
#typerwriter {
  margin: auto;
  width: 50%;
}

.profileBackground {
  background-color: #EBEBEB; /* Gray color */
  border-radius: 10px; 
  width: 80%;  
  height: auto; 
  margin: 0 auto; 
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 2.75fr; 
  padding: 30px;
  place-items: center;
}

@media only screen and (max-width: 700px) {
  .profileBackground {
    background-color: #EBEBEB; /* Gray color */
    border-radius: 10px; 
    width: 80%;  
    height: auto; 
    margin: 0 auto; 
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    place-items: center;
  }
  .profileRight {
    margin-left: 10px;
    margin-right: 10px;
  }
} 
 

.profileLeft {
  flex: 1;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.profileRight {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}

.profileLeftTXT {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profileLeftTXT p {
  font-weight: 600;
  font-size: 20px;
}

.profile {
  text-align: center;
  padding-top: 30px;
}

.profile h2 {
  font-weight: normal;
  font-size: 17px;
  text-align: center;
  padding: 10px;
  color:#157457;
}

.profile h3 {
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  color:#157457;
}

.profile small {
  font-size: 10px;
}

.profilepic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 340px;
  height: auto;
  /* height: 30vw; */

}

.bio {
  margin: 0 auto;
  max-width: 400px;
  word-wrap: break-word;
  text-align: left;
  padding-bottom: 30px;
  color:#157457;
}



/* -----------HOME/MAIN PAGE---------- */
.myname {
  color:#606EEF; 
  text-decoration: none;
  font-size: 90px;
  margin-left: 100px;
}
.myname:hover {
  text-decoration: none;
  color: #EE79AD;
}
.myname:hover:after {
  content: ", who's that?";
}
.welcome {
  margin: 10px;
}
.logo img {
  display: block; 
  margin-top: 31px;
  height: 35vw; 
  /* max-width: 500px;
  height: auto; */
  float:left;
  margin-right: 20px;
  
 } 
 
 .welcome h1 {
  font-weight: lighter;
  font-size: 24px;
 }

.txt {
  font-family:"Baskerville";
  font-weight: lighter;
  font-size: 60px;
  margin-top: 90px;
}
.txt h1 {
  font-weight: normal;
  font-size: 60px;
  color: #157457;
  padding-left: 20px;

}
.txt h1 span{
  font-weight: normal;
  font-family: "Arial";
  font-size: 10px;
  padding-bottom: 10px;
  float:left;
  padding-right: 40px;
}

.txt a {
  color: #157457;
  text-decoration: none;
  
}
.txt a:hover {
  font-style: italic; 
  color: #EE79AD;
  -webkit-transform: scale(1.4); 
  cursor: url(/assets/icons/kirbsclick.svg), auto;
}


.welcome #buttonArt {
  text-align: right;
  margin-top: 10px;
  margin-left: 400px;
  margin-right: 40%;

}

#buttonArt a {
  display: block;
  text-decoration: none;
  color: #157457;
  
}
#buttonArt a:hover {
  font-style: italic; 
  color: #EE79AD;
  -webkit-transform: scale(1.4); 
  cursor: url(/assets/icons/kirbsclick.svg), auto;
}

#buttonProject {
  position: relative;
  margin-left: 60px;
  margin-right: 40%;
}

#buttonProject a {
  font-family: "Baskerville";
  text-decoration: none;
  color: #157457;
}

#buttonProject a:hover {
  color: #EE79AD;
  font-family: 'Courier';
  cursor: url(/assets/icons/kirbsclick.svg), auto;
}

/* code below from https://code-boxx.com/html-css-news-ticker-horizontal-vertical/ */

.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
}
 
.hmove { display: flex; }

.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  color: #7D7D7D;
  font-size: 20px;
}
 

@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-400%, 0, 0); }
}
.hmove { animation: tickerh linear 45s infinite; }
.hmove:hover { animation-play-state: paused; }



.expListItem {
  border: 2px #A7A7A7 solid;
  /* background-color: #c8c7c7; */
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr; 
  margin-bottom: 20px;
}

.expListItem a {
  text-decoration: none;
}

.expListItem img {
  width: 180px;
  height: auto;
}

.expListItem h2 {
  text-decoration: none;
  line-height: .5;
}

.expListItem p {
  text-decoration: none;
}

.expListItem h3 {
  line-height: .5;
  color: #2A69C8;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
}