---
layout: default
title: fun nerd stuff ꒰ᐢ⸝⸝•༝•⸝⸝ᐢ꒱⸒⸒
---



<body>
       <h1 style="margin-left: 30px; margin-top:40px;">projects i have worked on</h1>
       <div class = "divider"></div>

       <div style="margin-left: 30px;" id="category-buttons">
              <button data-category="all" class="buttonTab">all</button>
              {% assign unique_categories = "" | split: "," %}
              {% for post in site.projects %}
                {% for category in post.categories %}
                  {% unless unique_categories contains category %}
                    {% assign unique_categories = unique_categories | push: category %}
                  {% endunless %}
                {% endfor %}
              {% endfor %}
              {% for category in unique_categories %}
                <button class="buttonTab" data-category="{{ category | slugify }}">{{ category }}</button>
              {% endfor %}
            </div>
            


{% assign sorted_work = site.projects| sort: 'index' | reverse %}
<div style="margin-left: 30px;" class=" ">
       {% for work in sorted_work %}
              <div class="folder" data-categories="{{ work.categories | join: ' ' }}">
              <a href="{{ work.url }}"> <img src="{{ work.post_cover }}" alt="icon broken :/" /></a>  
              <div class="atitle">{{ work.title }}</div>
              <div class="atitle" style="color: #2A69C8; font-size: 10px;">  {% for category in work.categories %}
                <span class="category">{{ category }};</span>
              {% endfor %}</div>
              </div>
       {% endfor %}
    <!-- {% for work in sorted_work %}
         <div class="folder">
            <a href="{{ work.url }}"> <img src="{{ work.post_cover }}" alt="icon broken :(" /></a>  
            <div class="atitle"> {{ work.title }}</div>
          </div>
    {% endfor %} -->
</div>


<script src="{{ 'js/filter.js' | relative_url }}"></script>

</body>